@model TriagemCligest.Models.Triagem
@using TriagemCligest.Models.Enum
@{
    ViewData["Title"] = "Detalhes de Triagem";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Triagem</h4>
    <hr />
    <div class="d-flex justify-content-between p-1">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary ">Editar</a>
        @{

            if (Model.EstadoTriagem == EstadoTriagem.ENCERRADA || ViewBag.Funcao == Funcao.OPERADOR)
            {
                <button type="button" class="btn btn-primary disabled disabled-button" data-bs-toggle="modal" data-bs-target="#exampleModal" disabled>
                    Encerrar
                </button>
            }
            else
            {
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal" >
                    Encerrar
                </button>
            }
        }
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">Resumo de Triagem</div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-5">
                            @Html.DisplayNameFor(model => model.UtenteID)
                        </dt>
                        <dd class="col-7">
                            @Html.DisplayFor(model => model.UtenteID)
                        </dd>
                        <dt class="col-5">
                            @Html.DisplayNameFor(model => model.Utente)
                        </dt>
                        <dd class="col-7">
                            @Html.DisplayFor(model => model.Utente.Nome)
                        </dd>
                        <dt class="col-5">
                            @Html.DisplayNameFor(model => model.Utente)
                        </dt>
                        <dd class="col-7">
                            @Html.DisplayFor(model => model.Utente.Nome)
                        </dd>
                        <dt class="col-5">
                            @Html.DisplayNameFor(model => model.Utente)
                        </dt>
                        <dd class="col-7">
                            @Html.DisplayFor(model => model.Utente.Nome)
                        </dd>
                        <dt class="col-5">
                            @Html.DisplayNameFor(model => model.Temperatura)
                        </dt>
                        <dd class="col-7">
                            @Html.DisplayFor(model => model.ClassificacaoTemperatura)
                        </dd>
                        <dt class="col-5">
                            Tensão Arterial
                        </dt>
                        <dd class="col-7">
                            @Html.DisplayFor(model => model.TensaoArterialSitolica ) : @Html.DisplayFor(model => model.TensaoArterialDiastolica)
                        </dd>
                        <dt class="col-5">
                            Frequência Cardíaca
                        </dt>
                        <dd class="col-7">
                            @Html.DisplayFor(model => model.ClassificacaoFrequenciaCardiaca)
                        </dd>
                        <dt class="col-5">
                            @Html.DisplayNameFor(model => model.Peso)
                        </dt>
                        <dd class="col-7">
                            @Html.DisplayFor(model => model.Peso)
                        </dd>
                        <dt class="col-5">
                            @Html.DisplayNameFor(model => model.HoraChegada)
                        </dt>
                        <dd class="col-7">
                            @Html.DisplayFor(model => model.HoraChegada)
                        </dd>
                        <dt class="col-5">
                            @Html.DisplayNameFor(model => model.HoraAtendimentoMedico)
                        </dt>
                        <dd class="col-7">
                            @Html.DisplayFor(model => model.HoraAtendimentoMedico)
                        </dd>
                    </dl>
                </div>
                @{
                    ViewData["Color"] = Model.EnumToColor(Model.ClassificacaoTriagem);
                }
                <div class="card-footer" style="background-color:@ViewData["Color"] !important">@Html.DisplayFor(model => model.ClassificacaoTriagem)</div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">Anamenese</div>
                <div class="card-body">
                </div>

                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <table class="table">
                <tbody>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.TipoTriagem)</td>
                        <td>@Html.DisplayFor(model => model.TipoTriagem)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.SituacaoQueixa)</td>
                        <td>@Html.DisplayFor(model => model.SituacaoQueixa)</td>
                    </tr>
                    <tr>
                        <td>Tensão Arterial</td>
                        <td>@Html.DisplayFor(model => model.TensaoArterialSitolica):@Html.DisplayFor(model => model.TensaoArterialDiastolica)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Temperatura)</td>
                        <td>@Html.DisplayFor(model => model.Temperatura)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Peso)</td>
                        <td>@Html.DisplayFor(model => model.Peso)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.FrequeciaCardiaca)</td>
                        <td>@Html.DisplayFor(model => model.FrequeciaCardiaca)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.FrequeciaRespiratoria)</td>
                        <td>@Html.DisplayFor(model => model.FrequeciaRespiratoria)</td>
                    </tr>
                    @{
                        if (Model.TipoTriagem == TriagemCligest.Models.Enum.TipoTriagem.CLINICA_GERAL)
                        {

                            <partial name="_TriagemClinicaGeralDetailsPartial" class="tipo-triagem" data-tipo="0" model="Model" />
                        }
                        else if (Model.TipoTriagem == TriagemCligest.Models.Enum.TipoTriagem.PEDIATRIA)
                        {
                            <partial name="_TriagemPediatriaDetailsPartial" class="tipo-triagem" data-tipo="1" model="Model" />
                        }
                        else if (Model.TipoTriagem == TriagemCligest.Models.Enum.TipoTriagem.GINECOLOGIA)
                        {
                            <partial name="_TriagemGinecologiaDetailsPartial" class="tipo-triagem" data-tipo="2" model="Model" />
                        }
                        else
                        {
                            <partial name="_TriagemObstetriciaDetailsPartial" class="tipo-triagem" data-tipo="3" model="Model" />

                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index">Voltar para listagem</a>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Encerrar Triagem</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Atenção! Está acção vai encerrar esta triagem. Deseja continuar?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <form asp-action="Encerrar">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <!-- <a asp-action="Encerrar" asp-route-id="@Model?.Id" class="btn btn-primary ">Continuar</a>-->
                    <input type="submit" value="Continuar" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    /* $(function () {
         alert('Esta a funcionar')
         ValidaTipoTriagem()
     });

     function ValidaTipoTriagem() {
         console.log($('partial'))

         $('.tipo-triagem').each(function () {
             console.log($(this).data("tipo"))
             $(this).hide()
             console.log("aqui", $('#tipoTriagem').val())
             if ($('#tipoTriagem').val() == $(this).data("tipo")) {
                 $(this).show()
             }
         })
     }

     */
</script>