@model TriagemCligest.Models.Triagem
@using TriagemCligest.Models.Enum

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Triagem</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdOriginal" />
            <input type="hidden" asp-for="EspecialidadeID" value="" />
            <input type="hidden" asp-for="RegistadoPor" />
            <input type="hidden" asp-for="EstadoTriagem" />
            <input type="hidden" asp-for="DataActualizacao" value="@DateTime.Now" />
            <input type="hidden" asp-for="DataRegisto"  />
            <input type="hidden" asp-for="FuncionarioID"  />
            <input type="hidden" asp-for="Accao" value="@Accao.UPDATE" />
            <input type="hidden" asp-for="ActualizadoPor" value="@ViewBag.Id" />
            <div class="cabecalho-container">
                <div class="form-group">
                    <input type="hidden" asp-for="MarcacaoID" class="form-control" />
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label asp-for="UtenteID" class="control-label"></label>
                            <input asp-for="UtenteID" class="form-control" value="@Model.Utente.ID" readonly required />
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <label asp-for="Utente.Nome" class="control-label"></label>
                            <input asp-for="Utente.Nome" class="form-control" readonly required />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label class="control-label">Idade</label>
                            <input value="@Model.Utente.GetIdade()" class="form-control" />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="TipoFichaAtendimento" class="control-label"></label>
                            <select asp-for="TipoFichaAtendimento" asp-items="Html.GetEnumSelectList<TipoFichaAtendimento>()" class="form-control" id="tipoFichaAtendimento" required></select>
                            <span asp-validation-for="TipoFichaAtendimento" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="HoraChegada" class="control-label"></label>
                            <input asp-for="HoraChegada" class="form-control"/>
                            <span asp-validation-for="HoraChegada" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="HoraAcolhimento" class="control-label"></label>
                            <input asp-for="HoraAcolhimento" class="form-control"/>
                            <span asp-validation-for="HoraAcolhimento" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="HoraAtendimentoMedico" class="control-label"></label>
                            <input asp-for="HoraAtendimentoMedico" class="form-control" />
                            <span asp-validation-for="HoraAtendimentoMedico" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="SituacaoQueixa" class="control-label"></label>
                            <textarea asp-for="SituacaoQueixa" class="form-control" required></textarea>
                            <span asp-validation-for="SituacaoQueixa" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label asp-for="TensaoArterialSitolica" class="control-label"></label>
                            <input asp-for="TensaoArterialSitolica" class="form-control" />
                            <span asp-validation-for="TensaoArterialSitolica" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label asp-for="TensaoArterialDiastolica" class="control-label"></label>
                            <input asp-for="TensaoArterialDiastolica" class="form-control" />
                            <span asp-validation-for="TensaoArterialDiastolica" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="TensaoArterialDiastolica" class="control-label"></label>
                            <input asp-for="TensaoArterialDiastolica" class="form-control" />
                            <span asp-validation-for="TensaoArterialDiastolica" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label asp-for="FrequeciaCardiaca" class="control-label"></label>
                            <input asp-for="FrequeciaCardiaca" class="form-control" />
                            <span asp-validation-for="FrequeciaCardiaca" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label asp-for="ClassificacaoFrequenciaCardiaca" class="control-label"></label>
                            <select asp-for="ClassificacaoFrequenciaCardiaca" asp-items="Html.GetEnumSelectList<ClassificacaoFrequenciaCardiaca>()" class="form-control"></select>
                            <span asp-validation-for="ClassificacaoFrequenciaCardiaca" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label asp-for="Temperatura" class="control-label"></label>
                            <input asp-for="Temperatura" class="form-control" />
                            <span asp-validation-for="Temperatura" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label asp-for="ClassificacaoTemperatura" class="control-label"></label>
                            <select asp-for="ClassificacaoTemperatura" asp-items="Html.GetEnumSelectList<ClassificacaoTemperatura>()" class="form-control"></select>
                            <span asp-validation-for="ClassificacaoTemperatura" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="FrequeciaRespiratoria" class="control-label"></label>
                            <input asp-for="FrequeciaRespiratoria" class="form-control" />
                            <span asp-validation-for="FrequeciaRespiratoria" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <label asp-for="ClassificacaoFrequenciaRespiratoria" class="control-label"></label>
                            <select asp-for="ClassificacaoFrequenciaRespiratoria" asp-items="Html.GetEnumSelectList<ClassificacaoFrequenciaRespiratoria>()" class="form-control"></select>
                            <span asp-validation-for="ClassificacaoFrequenciaRespiratoria" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label asp-for="Peso" class="control-label"></label>
                            <input asp-for="Peso" class="form-control" />
                            <span asp-validation-for="Peso" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="partials-container">
                <div id="0" class="tipo-triagem" data-tipo="0" style="display:none"><partial name="_TriagemClinicaGeralPartial" model="Model" /></div>
                <div id="1" class="tipo-triagem" data-tipo="1" style="display:none"><partial name="_TriagemPediatriaPartial" model="Model" /></div>
                <div id="2" class="tipo-triagem" data-tipo="2" style="display:none"><partial name="_TriagemGinecologiaPartial" model="Model" /></div>
                <div id="3" class="tipo-triagem" data-tipo="3" style="display:none"><partial name="_TriagemObstericiaPartial" model="Model" /></div>
            </div>


            <div class="rodape-container">
                <div class="form-group">
                    <label asp-for="ClassificacaoTriagem" class="control-label"></label>
                    <select asp-for="ClassificacaoTriagem" asp-items="Html.GetEnumSelectList<ClassificacaoTriagem>()" class="form-control"></select>
                    <span asp-validation-for="ClassificacaoTriagem" class="text-danger"></span>
                </div>
                
            
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $(function () {
        ValidaTipoFichaAtendimento()
        $('#descricaoPatologia').prop('disabled', true)
        $('#tipoFichaAtendimento').on('change', function () {
            ValidaTipoTriagem()
        })
    });

    function ValidaTipoFichaAtendimento() {
        $('.tipo-triagem').each(function () {
            $(this).hide()
            if ($('#tipoFichaAtendimento').val() == $(this).data("tipo")) {
                $(this).show()
            }
        })
    }


</script>