@model IEnumerable<TriagemCligest.Models.Triagem>
@using TriagemCligest.Models.Enum

@{
    ViewData["Title"] = "Lista de Triagem";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-6">
        <label class="form-label">Pesquisa</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-2">
        <label class="form-label">Hora de Chegada</label>
        <input type="date" class="form-control" />
    </div>
    <div class="col-2">
        <label class="form-label">Classificação</label>
        <select asp-items="Html.GetEnumSelectList<ClassificacaoTriagem>()" class="form-control"></select>
    </div>
    <div class="col-2">
        <label class="form-label">Estado</label>
        <select asp-items="Html.GetEnumSelectList<EstadoTriagem>()" class="form-control"></select>
    </div>
</div>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Utente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraChegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraAtendimentoMedico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraAcolhimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassificacaoTriagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoTriagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassificacaoUnidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            ViewData["Color"] = item.EnumToColor(item.ClassificacaoTriagem);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UtenteID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraChegada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraAtendimentoMedico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraAcolhimento)
                </td>
                <td>
                    <div style="background-color:@ViewData["Color"]; border-radius: 50%; width: 20px; height: 20px;"></div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoTriagem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassificacaoUnidade)
                </td>
                <td>
                    <div class="dropdown dropdown-menu-end">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
