@model IEnumerable<TriagemCligest.Models.Triagem>
@using TriagemCligest.Models.Enum

@{
    ViewData["Title"] = "Lista de Triagem";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.PaginaAtual;
    }
}

<h1>@ViewData["Title"]</h1>
<hr />
<!--<div class="row">
    <form asp-action="Index">
        <div class="row d-flex align-items-end">
            <div class="col-4">
                <label class="form-label">Pesquisa</label>
                <input type="text" class="form-control" name="Pesquisar" />
            </div>
            <div class="col-2">
                <label class="form-label">Data Triagem</label>
                <input type="date" class="form-control" />
            </div>
            <div class="col-2">
                <label class="form-label">Classificação</label>
                <select asp-items="Html.GetEnumSelectList<ClassificacaoTriagem>()" class="form-control"></select>
            </div>
            <div class="col-2">
                <label class="form-label">Estado</label>
                <select asp-items="Html.GetEnumSelectList<EstadoTriagem>()" class="form-control"></select>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <input type="submit" value="Pesquisar" class="btn btn-secondary" />
                </div>
            </div>
        </div>
    </form>

</div>
<hr />-->
<p>
    <a asp-action="Create" class="btn btn-primary">Criar Nova</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                ID Utente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraChegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraAtendimentoMedico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraAcolhimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoTriagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassificacaoTriagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoTriagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassificacaoUnidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataActualizacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            ViewData["Color"] = item.EnumToColor(item.ClassificacaoTriagem);
            ViewData["RowColor"] = item.EstadoTriagem == EstadoTriagem.ANULADA ? "table-danger" : "";
            <tr class=@ViewData["RowColor"]>
                <td>
                    @Html.DisplayFor(modelItem => item.UtenteID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraChegada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraAtendimentoMedico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraAcolhimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoTriagem)
                </td>
                <td>
                    <div style="background-color:@ViewData["Color"]; border-radius: 50%; width: 20px; height: 20px;"></div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoTriagem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassificacaoUnidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataActualizacao)
                </td>
                <td>
                    <div class="dropdown dropdown-menu-end">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu">
                            <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">Detalhes</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    @if (pager.PaginasTotal > 0)
    {
        <ul class="pagination">
            <li class="page-item @( pager.PaginaAtual > 1 ? "" : "disabled")"><a class="page-link" asp-controller="Triagems" asp-action="Index" asp-route-page="@(pager.PaginaAtual - 1)">Anterior</a></li>
            @for (var pge = pager.PaginaInicio; pge <= pager.PaginaFim; pge++)
            {
                <li class="page-item @(pge==pager.PaginaAtual ? "active" : "")"><a class="page-link" asp-controller="Triagems" asp-action="Index" asp-route-page="@pge">@pge</a></li>
            }
            <li class="page-item @(pager.PaginaAtual < pager.PaginasTotal?"":"disabled")"><a class="page-link" asp-controller="Triagems" asp-action="Index" asp-route-page="@(pager.PaginaAtual + 1)">Próximo</a></li>
        </ul>
    }
</nav>