@model TriagemCligest.Models.FE

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FE</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeEmissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeEmissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatadoDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatadoDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destinatario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destinatario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destinatario2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destinatario2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultEXT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultEXT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultUtente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultUtente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultCoef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultCoef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFooter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFooter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desconto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desconto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autorizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autorizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idfuncionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idfuncionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipodeDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipodeDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEntidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEntidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoDeEntidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoDeEntidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kwanzas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kwanzas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proforma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proforma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeSaida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeSaida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NdeProcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NdeProcesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cambio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cambio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalKwanzas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalKwanzas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFuncionarioLast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFuncionarioLast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Integrado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Integrado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lancamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoContaCorrente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoContaCorrente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioQueAdmitiu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioQueAdmitiu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeEpisodio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDeEpisodio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marcacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marcacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroDeResponsabilidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroDeResponsabilidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ICD10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ICD10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvaTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvaTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
