@model TriagemCligest.Models.Triagem
<tr>
    <td>@Html.DisplayNameFor(model => model.Patologia)</td>
    <td>@Html.DisplayFor(model => model.Patologia) @Html.DisplayFor(model => model.DescricaoPatologia)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.Medicamento)</td>
    <td>@Html.DisplayFor(model => model.Medicamento) @Html.DisplayFor(model => model.DescricaoMedicamento)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.Alergia)</td>
    <td>@Html.DisplayFor(model => model.Alergia) @Html.DisplayFor(model => model.DescricaoAlergia)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.Ictericia)</td>
    <td>@Html.DisplayFor(model => model.Ictericia)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.ClassificacaoPeleMucosa)</td>
    <td>@Html.DisplayFor(model => model.ClassificacaoPeleMucosa)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.LesaoCutanea)</td>
    <td>@Html.DisplayFor(model => model.LesaoCutanea)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.ClassificacaoQueimadura)</td>
    <td>@Html.DisplayFor(model => model.ClassificacaoQueimadura)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.LocalQueimadura)</td>
    <td>@Html.DisplayFor(model => model.LocalQueimadura)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.Cianose)</td>
    <td>@Html.DisplayFor(model => model.Cianose)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.LocalCianose)</td>
    <td>@Html.DisplayFor(model => model.LocalCianose)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.SaturacaoOxigenio)</td>
    <td>@Html.DisplayFor(model => model.SaturacaoOxigenio)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.Tosse)</td>
    <td>@Html.DisplayFor(model => model.Tosse)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.Expectoracao)</td>
    <td>@Html.DisplayFor(model => model.Expectoracao)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.ClassificacaoExpectoracao)</td>
    <td>@Html.DisplayFor(model => model.ClassificacaoExpectoracao)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.Hematemese)</td>
    <td>@Html.DisplayFor(model => model.Hematemese)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.Vomito)</td>
    <td>@Html.DisplayFor(model => model.Vomito)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.Melena)</td>
    <td>@Html.DisplayFor(model => model.Melena)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.Enterorragia)</td>
    <td>@Html.DisplayFor(model => model.Enterorragia)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.Obstipacao)</td>
    <td>@Html.DisplayFor(model => model.Obstipacao)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.Diarreia)</td>
    <td>@Html.DisplayFor(model => model.Diarreia)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.ClassificacaoGenitoUrinario)</td>
    <td>@Html.DisplayFor(model => model.ClassificacaoGenitoUrinario)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.Metrorragia)</td>
    <td>@Html.DisplayFor(model => model.Metrorragia)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.Dismenorreia)</td>
    <td>@Html.DisplayFor(model => model.Dismenorreia)</td>
</tr>
<tr>
    <td>@Html.DisplayNameFor(model => model.SecrecaoUretralVaginal)</td>
    <td>@Html.DisplayFor(model => model.SecrecaoUretralVaginal)</td>
</tr>