@model TriagemCligest.Models.Triagem
@using TriagemCligest.Models.Enum
<div class="row d-flex align-items-center">
    <div class="col-2">
        <div class="form-group">
            <input asp-for="Patologia" class="form-check-input" id="patologia" />
            <label asp-for="Patologia" class="control-label"></label>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label asp-for="DescricaoPatologia" class="control-label" id="descricaoPatologia"></label>
            <input asp-for="DescricaoPatologia" class="form-control" />
            <span asp-validation-for="DescricaoPatologia" class="text-danger"></span>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <input asp-for="Alergia" class="form-check-input" />
            <label asp-for="Alergia" class="control-label"></label>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label asp-for="DescricaoAlergia" class="control-label"></label>
            <input asp-for="DescricaoAlergia" class="form-control" />
            <span asp-validation-for="DescricaoAlergia" class="text-danger"></span>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <input asp-for="Medicamento" class="form-check-input" />
            <label asp-for="Medicamento" class="control-label"></label>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label asp-for="DescricaoMedicamento" class="control-label"></label>
            <input asp-for="DescricaoMedicamento" class="form-control" />
            <span asp-validation-for="DescricaoMedicamento" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row d-flex align-items-center">
    <div class="col-3">
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Ictericia" /> @Html.DisplayNameFor(model => model.Ictericia)
            </label>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label asp-for="ClassificacaoPeleMucosa" class="control-label"></label>
            <select asp-for="ClassificacaoPeleMucosa" asp-items="Html.GetEnumSelectList<ClassificacaoPeleMucosa>()" class="form-control"></select>
            <span asp-validation-for="ClassificacaoPeleMucosa" class="text-danger"></span>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label asp-for="ClassificacaoColoracaoPele" class="control-label"></label>
            <select asp-for="ClassificacaoColoracaoPele" class="form-control"></select>
            <span asp-validation-for="ClassificacaoColoracaoPele" class="text-danger"></span>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label asp-for="LesaoCutanea" class="control-label"></label>
            <input asp-for="LesaoCutanea" class="form-control" />
            <span asp-validation-for="LesaoCutanea" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row d-flex align-items-center">
    <div class="col-6">
        <div class="form-group">
            <label asp-for="ClassificacaoQueimadura" class="control-label"></label>
            <select asp-for="ClassificacaoQueimadura" asp-items="Html.GetEnumSelectList<ClassificacaoQueimadura>()" class="form-control"></select>
            <span asp-validation-for="ClassificacaoQueimadura" class="text-danger"></span>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label asp-for="LocalQueimadura" class="control-label"></label>
            <input asp-for="LocalQueimadura" class="form-control" />
            <span asp-validation-for="LocalQueimadura" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row d-flex align-items-center">
    <div class="col-2">
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="SangramentoNasal" /> @Html.DisplayNameFor(model => model.SangramentoNasal)
            </label>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Cianose" /> @Html.DisplayNameFor(model => model.Cianose)
            </label>
        </div>
    </div>
    <div class="col-4">

        <div class="form-group">
            <label asp-for="LocalCianose" class="control-label"></label>
            <input asp-for="LocalCianose" class="form-control" />
            <span asp-validation-for="LocalCianose" class="text-danger"></span>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label asp-for="SaturacaoOxigenio" class="control-label"></label>
            <input asp-for="SaturacaoOxigenio" class="form-control" />
            <span asp-validation-for="SaturacaoOxigenio" class="text-danger"></span>
        </div>
    </div>
    
</div>

<div class="row d-flex align-items-center">
    <div class="col-2">
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Vomito" /> @Html.DisplayNameFor(model => model.Vomito)
            </label>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Diarreia" /> @Html.DisplayNameFor(model => model.Diarreia)
            </label>
        </div>
    </div>
    <div class="col-2">

        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Obstipacao" /> @Html.DisplayNameFor(model => model.Obstipacao)
            </label>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="FezesSangue" /> @Html.DisplayNameFor(model => model.FezesSangue)
            </label>
        </div>
    </div>
</div>


<div class="row d-flex align-items-center">
    <div class="col-2">
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="UrinaComSangue" /> @Html.DisplayNameFor(model => model.UrinaComSangue)
            </label>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="DorMiccao" /> @Html.DisplayNameFor(model => model.DorMiccao)
            </label>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label asp-for="ClassificacaoDiurese" class="control-label"></label>
            <select asp-for="ClassificacaoDiurese" asp-items="Html.GetEnumSelectList<ClassificacaoDiurese>()" class="form-control"></select>
            <span asp-validation-for="ClassificacaoDiurese" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="DispneiaMusculaturaAcessoria" /> @Html.DisplayNameFor(model => model.DispneiaMusculaturaAcessoria)
    </label>
</div>

















