@model IEnumerable<TriagemCligest.Models.Marcacao>

@{
    ViewData["Title"] = "Lista de Marcações";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-6">
        <label class="form-label">Pesquisa</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-3">
        <label class="form-label">Data Início</label>
        <input type="date" class="form-control" />
    </div>
    <div class="col-3">
        <label class="form-label">Data Fim</label>
        <input type="date" class="form-control" />
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Especialidade)
            </th>
            <th>
                Médico
            </th>
            <th>
                ID Utente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utente)
            </th>
            <th>
                Entidade
            </th>
            <th>
                Hora Marcação
            </th>
            <th>
                Data Marcação
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Ficha de Episódio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Especialidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDCentro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDutente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CODEntidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Horam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FichaEpisodio)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Triagem</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
