@model IEnumerable<TriagemCligest.Models.Marcacao>

@{
    ViewData["Title"] = "Lista de Marcações";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.PaginaAtual;
    }
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <form asp-action="Index">
        <div class="row d-flex align-items-end">
            <div class="col-6">
                <label class="form-label">Pesquisa</label>
                <input type="text" class="form-control" name="Pesquisar" />
            </div>
            <div class="col-2">
                <label class="form-label">Data Início</label>
                <input type="date" class="form-control" />
            </div>
            <div class="col-2">
                <label class="form-label">Data Fim</label>
                <input type="date" class="form-control" />
            </div>
            <div class="col-2">
                <div class="form-group">
                    <input type="submit" value="Pesquisar" class="btn btn-secondary" />
                </div>
            </div>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Especialidade)
            </th>
            <th>
                Médico
            </th>
            <th>
                ID Utente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utente)
            </th>
            <th>
                Entidade
            </th>
            <th>
                Hora Marcação
            </th>
            <th>
                Data Marcação
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Ficha de Episódio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Especialidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDCentro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDutente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CODEntidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Horam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FichaEpisodio)
                </td>
                <td>
                    <a asp-action="Triagem" asp-route-id="@item.ID" class="btn btn-primary">Triagem</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    @if (pager.PaginasTotal > 0)
    {
        <ul class="pagination">

            <li class="page-item @( pager.PaginaAtual > 1 ? "" : "disabled")"><a class="page-link" asp-controller="Triagems" asp-action="Index" asp-route-page="@(pager.PaginaAtual - 1)">Anterior</a></li>



            @for (var pge = pager.PaginaInicio; pge <= pager.PaginaFim; pge++)
            {
                <li class="page-item @(pge==pager.PaginaAtual ? "active" : "")"><a class="page-link" asp-controller="Triagems" asp-action="Index" asp-route-page="@pge">@pge</a></li>
            }


            <li class="page-item @(pager.PaginaAtual < pager.PaginasTotal?"":"disabled")"><a class="page-link" asp-controller="Triagems" asp-action="Index" asp-route-page="@(pager.PaginaAtual + 1)">Próximo</a></li>


        </ul>
    }
</nav>