@model TriagemCligest.Models.EntidadeAssistida

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EntidadeAssistida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeContracto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDeContracto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sigla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NDeContaCorrente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NDeContaCorrente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteExterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteExterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actualizada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actualizada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protocolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protocolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeAtendimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDeAtendimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeActualizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeActualizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destinatario1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destinatario1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destinatario2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destinatario2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFooter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFooter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GestorDeConta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GestorDeConta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProtocoloFacturacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProtocoloFacturacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NDeContribuinte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NDeContribuinte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPrecario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPrecario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForceCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForceCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaskCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaskCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeExample)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeExample)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSerie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSerie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeraFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeraFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cartao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cartao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checkup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checkup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IVA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IVA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flag1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flag1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flag2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flag2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
