@model TriagemCligest.Models.Contador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._Contador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._Contador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDCentroCusto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDCentroCusto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
